:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  font-family: Inconsolata, 'Courier New', Courier, monospace;
  color: bisque;
  background-color: darkslategrey;
  width: 100vw;
}

@font-face {
  font-family: Inconsolata;
  src: url("fonts/Inconsolata.ttf");
}

.navbar {
  min-width: 300px;
  display:  grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: baseline;
  margin: 0.5rem 10rem;
  padding: 0 2rem;
  border-radius: 6px;
  background-color: rgb(60, 60, 60);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.305);
}

.menu {
  display: flex;
}

button {
  background-color: transparent;
  border: none;
  color: bisque;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
}

button:hover {
  color: rgb(255, 182, 94);
  font-weight: bold;
}

.new-book {
  justify-self: end;
}